@use "../../variables";

.topnav {
    position: relative;
    overflow: hidden;
    background-color: variables.$navbarColor;
    height: 100px;
    transition: all 0.2s ease-in-out;

    @media (max-width: variables.$tablet-breakpoint) {
        height: 80px;
        display: flex;
    }

    @media (max-width: variables.$mobile-breakpoint) {
        height: 60px;
        &.topnav-open {
            height: 540px;
        }
    }
}

.logo {
    position: absolute;
    height: 100%;
    float: left;
    color: variables.$text1;
    text-decoration: none;
    line-height: 0.8em;
    letter-spacing: 2px;
    padding-left: 20px;
    padding-top: 6px;
    transition: all 200ms;

    h1 {
        font-weight: 400;
    }

    @media (max-width: variables.$tablet-breakpoint) {
        padding-top: 0px;
        h1 {
            font-size: 18px;
            line-height: 0.6em;
            letter-spacing: 1.8px;
        }
    }

    @media (max-width: variables.$mobile-breakpoint) {
        padding-top: 2px;
        h1 {
            font-size: 16px;
            line-height: 0.4em;
            letter-spacing: 1.6px;
        }
    }
}

.switcher {
    position: absolute;
    top: 36px;
    right: 20px;

    @media (max-width: variables.$tablet-breakpoint) {
        right: 10px;
    }

    @media (max-width: variables.$mobile-breakpoint) {
        position: relative;
        right: auto;
        top: 30px;
        height: 50px;
        width: 100%;
    }
}

.menu-items {
    width: 100%;
    height: 100%;
    @media (max-width: variables.$mobile-breakpoint) {
        display: none;
        width: 100%;
        top: 50px;

        &.is-open {
            display: block;
            padding-top: 60px;
        }
    }
}

.menu-button {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 6px;
    right: 4px;
    z-index: 1;
    color: variables.$text1;

    @media (max-width: variables.$mobile-breakpoint) {
        display: block;
    }
}
