<app-navigation-bar></app-navigation-bar>

<div class="body-holder">
    <div class="portrait-info">
        <img src="assets/portrait.png" alt="Italian Trulli">
        <h1>
            HEY <span>I’m Sahanan</span>, A <br>
            <span>SOFTWARE DEVELOPPER</span> <br>
            BASED IN <span>BELGIUM</span>
        </h1>
    </div>
</div>

<div class="video-container">
    <video [src]="getVideoSource()" autoplay muted loop plays-inline type="video/mp4" oncanplay="this.play()"
        onloadedmetadata="this.muted = true">
    </video>
</div>