@use "../../../variables";

.switch {
    display: flex;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;

    .sun-icon {
        margin: auto;
        margin-right: 4px;
    }

    .moon-icon {
        margin: auto;
        margin-left: 5px;
    }

    .sun-icon, .moon-icon {
        color: variables.$text1;
    }
}

$switch-width: 60px;
$switch-height: calc($switch-width / 2);
$pill-size: calc($switch-height - ($switch-width / 10));
$pill-padding: calc(($switch-width / 10) / 2);

input[type="checkbox"] {
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: $switch-width;
    height: $switch-height;
    background: variables.$primary400;
    display: block;
    border-radius: $switch-height;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        top: $pill-padding;
        left: $pill-padding;
        width: $pill-size;
        height: $pill-size;
        background: variables.$background-color;
        border-radius: $pill-size;
        transition: 0.3s;
    }
}

input:checked + label {
    background: variables.$primary400;
}

input:checked + label:after {
    left: calc(100% - $pill-padding);
    transform: translateX(-100%);
}

label:active:after {
    width: $switch-height;
}
