$background-color: var(--background-color);
$primary200: var(--primary200);
$primary300: var(--primary300);
$primary400: var(--primary400);
$primary500: var(--primary500);
$navbarColor: var(--navbar-color);
$normal1: var(--normal1);
$text1: var(--text1);

$bg-transition: background-color 0.2s ease-in-out;

$mobile-breakpoint: 600px;
$tablet-breakpoint: 800px;
